<!-- <form action="./ownerlist"  style="border:1px solid #ccc" width="70%" > -->
  <form (ngSubmit)="onSubmit(f)" #f ="ngForm" style="border:1px solid #ccc" width="70%" >
  <div class="container">
      <br>
  <h1>Register New Owner</h1><br>
   <h4><p>Please fill this form to register.</p></h4> 
    <hr>

    <label class="label" for="name"><b>FirstName</b></label>
    <input type="text" placeholder="Enter FirstName" required ngModel name= "FirstName" >


    <label class="label" for="age"><b>LastName</b></label>
    <input type="text" placeholder="Enter LastName" required ngModel name= "LastName" >
  
  
    <label class="label" for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" ngModel name= "email" required>

    <label class="label" for="phone"><b>Mobile</b></label>
    <input type="number" placeholder="Enter Mobile number" ngModel name= "phone" required>
    
  <br><br>
    <div class="clearfix">
          <button type="button"  class="cancelbtn">Cancel</button> 
      
          <button type="submit" class="savebtn ">Save</button>

      <!-- <button type="button" class="btn btn-success">Success</button>
      <button type="button" class="btn btn-danger">Danger</button> -->

    </div>
  </div>
</form> 